/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body,
html {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: transparent; 
  }

@font-face {
  font-family: "KyivType-Titling";
  src: url("../fonts/KyivTypeTitling-Bold2.otf") format("otf"),
    url("../fonts/KyivTypeTitling-Bold2.woff") format("woff");
}

@font-face {
  font-family: "KyivType-Serif";
  src: url("../fonts/KyivTypeSerif-Medium2.otf") format("otf"),
    url("../fonts/KyivTypeSerif-Medium2.woff") format("woff");
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #fff;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  background: url('../img/preload.svg') no-repeat 50% 50%;
  background-size: cover; 
  z-index: 9999;
  transform-origin: 50% 50%;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.ticket_price {
  font-family: "KyivType-Serif", serif;
  color: #fedd43;
  font-size: 2.6rem;
  line-height: 2.6rem;
}

.ticket_body,
.ticket_heading,
.question_header,
.wpcf7-form textarea,
.wpcf7-form input {
  opacity: 1;
  font-family: "KyivType-Serif", serif;
  color: #1d2c77;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.grid_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.opener {
  background-color: #f48914;
  background-image: url(../img/backgroun-06-min.png);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.header_up {
  grid-column: 1/13;
  grid-row: 1/2;
  font-family: "KyivType-Titling", serif;
  color: #fedd43;
  text-transform: uppercase;
  font-size: 12rem;
  line-height: 12rem;
  margin: 0 20px;
 }
.header_low {
  grid-column: 1/5;
  grid-row: 2/3;
  font-family: "KyivType-Titling", serif;
  color: #fedd43;
  text-transform: uppercase;
  font-size: 12rem;
  line-height: 12rem;
  margin: 0 20px;
 }
.subheader { 
  grid-column: 5/11;
  grid-row: 2/3;
  font-family: "KyivType-Titling", serif;
  color: #fedd43;
  text-transform: uppercase;
  font-size: 3.2rem;
  line-height: 4.5rem;
  margin: 0;
}
.water_melon_block{
  grid-column: 6/13;
  grid-row: 1/5;
  background-image: url(../img/watermellon-03.png);
  background-size: 114% auto;
  background-repeat: no-repeat;
  background-position: bottom left;
}
.knife_right_block{
  grid-column: 11/12;
  grid-row: 1/5;
  background-image: url(../img/knife-03.png);
  background-size: 75% auto;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.cap_left_block{
  grid-column: 1/6;
  grid-row: 2/8;
  background-image: url(../img/hat-05.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.glasses{
  grid-column: 8/12;
  grid-row: 5/7;
  background-image: url(../img/glass-06.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.bowl{
  grid-column: 3/8;
  grid-row: 5/10;
  background-image: url(../img/bowl-08.png);
  background-size: 86% auto;
  background-repeat: no-repeat;
  background-position: center right;
}
.button_wrapper {  
  grid-column: 4/10;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  height: fit-content;
}
.button_programm,
.button_part, 
.button_download {
border: none;
border-radius: 20px;
padding: 10px 17px;
color: #fedd43;
font-family: "KyivType-Titling", serif;
font-size: 1.2rem;
line-height: 1.4rem;
background-color: #1d2c77;
min-width: 190px;
margin: 50px 20px 0 20px;
cursor: pointer;
}
.sky{
  grid-column: 1/13;
  grid-row: 1/4;
  background-image: url(../img/first_slide_back-06.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.sand{
  grid-column: 1/13;
  grid-row: 4/10;
  background-image: url(../img/sand_back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.button_part { }
.button_programm { }
.date_wrapper { 
  grid-column: 5/13;
  grid-row: 5/6;
  text-align: end;
  font-family: "KyivType-Titling", serif;
  color: #1d2c77;
  font-size: 3rem;
  line-height: 4.3rem;
}
.date_wrapper h2{
  margin: 0 20px !important;
}

.slider_wrapper h2 {
  font-family: "KyivType-Titling", serif;
  color: #1d2c77;
  text-transform: uppercase;
  font-size: 3.2rem;
  line-height: 4.5rem;
  margin: 0 0 40px 0;
  text-align: center;
}

@media only screen and (max-width: 1825px) {
   .subheader,
   .slider_wrapper h2{
    font-size: 2.9rem;
    line-height: 3.8rem;
   }
}

@media only screen and (max-width: 1660px) {
  .subheader,
  .slider_wrapper h2{
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .header_up,
  .header_low {
    font-size: 10rem;
    line-height: 10rem;
   }
}

@media only screen and (max-width: 1400px) {
  .header_up,
  .header_low {
    font-size: 8rem;
    line-height: 8rem;
   }
   .subheader,
   .slider_wrapper h2{
    font-size: 2rem;
    line-height: 2.8rem;
   }
}

.slider {
  background-image: url(../img/sand_back-05.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}



/* .lamp {
  animation: change_fill 1s;
}

.lamp:nth-child(1) {
  animation-delay: 100ms;
}

.lamp:nth-child(2) {
  animation-delay: 200ms;
}

.lamp:nth-child(3) {
  animation-delay: 300ms;
}
@keyframes change_fill {
  0% { fill:none; }
  25% { fill: #fff; }
  50% { fill: #fedd43; }
  75% { fill: #f48914; }
  100% { fill: #4b5272; }
} */




.slider {
  min-height: 80vh;
  /* height: 80vh; */
  overflow: hidden;
}

.multiple-items div.slide_block {
  /* width:  150px; */
  min-height: 46vw;
  background-image: url(../img/carusel_page-03.png);
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "KyivType-Serif", serif;
  color: #f48914;
  font-size: 1.5rem;
  font-weight: bold;
  /* padding: 30%; */
  text-align: center;
}
.slide_text {
  padding: 48% 80px;
}


.table {
  background-color: #1d2c77;
  min-height: 80vh;
  background-image: url(../img/table_back-02-min.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.table_pic_garland {
  grid-column: 1/13;
  grid-row: 1/3;
}
.table_header {
  grid-column: 2/11;
  grid-row: 2/3;
}
.table_header h2 {
  font-family: "KyivType-Serif", serif;
  color: #fedd43;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: bold;
}
/* .table_subheader {
  grid-column: 4/12;
  grid-row: 4/5;
} */
.table_subheader p {
  font-family: "KyivType-Serif", serif;
  color: #fedd43;
  font-size: 1.5rem;
  text-align-last: left;
  }
.table_pic_center {
  background-image: url(../img/table.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  grid-column: 4/13;
  grid-row: 3/4;
  transform: translateY(-5%);
}

.tvset {
  background-color: #f48914;
  background-image: url(../img/yellow_back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
 }

.tvset_pic_lamp {
  background-image: url(../img/lamp2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  position: absolute;
  right: 0;
  width: 18vw;
  height: 10vw;
  transform: translateY(-20%);
}

.result {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr );
  background-image: url(../img/result_back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.result_list{
  padding: 0;
  margin: 0;
  list-style-type: none;
  grid-row: 2/3;
  grid-column: 5/13;
}
.result_list li{
  background: url('../img/cherry.png') no-repeat left top;
  background-size: contain;
  height: 34px;
  padding-top: 7px;
  padding-left: 44px;
  font-family: "KyivType-Serif", serif;
  color: #fedd43;
  font-size: 1.5rem;
  line-height: 1.5rem;  
 }

.result_header {
  text-align: center;
  font-family: "KyivType-Serif", serif;
  color: #fedd43;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
  grid-row: 1/2;
  grid-column: 5/13;
}

.result_subheader {
  text-align: center;
  font-family: "KyivType-Serif", serif;
  color: #fedd43;
  font-size: 1.7rem;
  font-weight: bold;
  grid-row: 3/4;
  grid-column: 3/10;
}

.result_pic_left {
  background-image: url(../img/cherry_bowl.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  grid-row: 1/3;
  grid-column: 1/5;
  z-index: 5;
  transform: translateY(-10%, -10%);
}

.offer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr );
  min-height: 80vh;
  background-color: #f48914;
}

.offer_pic_background {
  background-image: url(../img/contact_form-08.png);
  background-size: 100% auto;
  background-repeat: repeat-y;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/3;
  z-index: 2;
}

.offer_pic_bottom {
  background-color: aqua;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  z-index: 7;
}

.ticket_card {
  background-color: transparent;
  border: none;
  padding: 20px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 4/6;
}
.offer_pic_background{

}

.img_first{
  grid-column: 1/2;
  z-index: 3;
  grid-row: 2/4;
}
.card_first{
  grid-column: 1/2;
}
.ice_back_first{
  background-image: url(../img/ice_weel-04-min.png);
  grid-row: 4/8;
  grid-column: 1/2;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
}
.img_second{
  grid-column: 2/3;
  z-index: 3;
  grid-row: 2/4;
}
.card_second{
  grid-column: 2/3;
}
.ice_back_second{
  background-image: url(../img/ice_weel-04-min.png);
  grid-row: 4/8;
  grid-column: 2/3;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
}
.img_third{
  grid-column: 3/4;
  z-index: 3;
  grid-row: 2/4;
}
.card_third{
  grid-column: 3/4;
}
.ice_back_third{
  background-image: url(../img/ice_weel-04-min.png);
  grid-row: 4/8;
  grid-column: 3/4;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
}
.ticket_body {
  background-color: #fff;
  position: relative;
  min-height: 50vh;
  padding: 10px;
}

.ticket_body i.circle_lt,
.ticket_body i.circle_rt,
.ticket_body i.circle_lb,
.ticket_body i.circle_rb {
  position: absolute;
  font-size: 10px;
  color: #0d195f;
}

.ticket_body i.circle_lt {
  top: 10px;
  left: 10px;
}

.ticket_body i.circle_rt {
  top: 10px;
  right: 10px;
}

.ticket_body i.circle_lb {
  bottom: 10px;
  left: 10px;
}

.ticket_body i.circle_rb {
  right: 10px;
  bottom: 10px;
}

.ticket_heading {
  text-align: center;
}

.ticket_price {
  text-align: center;
}

.ticket_list ul {
  list-style-type: "-";
}

.ticket_list ul li {
  padding: 5px;
}

img.half-width {
  width: 100%;
  height: auto;
}

.accordion-panel {
  display: none;
}

.question {
  background-color: #f48914;
  background-image: url(../img/sand_back-05.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-height: 80vh;
  height: auto;
}

.question > div {
  border: solid 1px #000;
}

.question_pic_left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 2/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/7;
}
.question_pic_sunshade {
  background-image: url(../img/contact_form-13-min.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-row: 1/3;
  grid-column: 1/13;
  transform: translateY(-50%);
  z-index:  8;
  min-height: 45vh;
}
.question_message {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 2/4;
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-column: 7/12;
  font-family: "KyivType-Titling", serif;
  color: #1d2c77;
  font-size: 1.5rem;
  font-weight: bold;
}

.question_wrapper {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 4/6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/11;
}

.question_header {
  background-color: #0d195f;
  background-image: url(../img/button1-min.png);
  background-position: center;
  border: none;
  border-radius: 18px;
  padding: 0 20px;
  color: #fedd43;
  line-height: 2.5rem;
}
.question_header {
}
#accordion .ui-accordion-header {
  position: relative;
}
#accordion .ui-accordion-header-icon {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/plus.svg) 50% 50% no-repeat;
  background-size: contain;
}
#accordion .ui-accordion-header-active .ui-accordion-header-icon {
  background-image: url(../img/minus.svg);
}

.contact {
  background-image: url(../img/contact_form-02-min.png);
  background-size: cover;
  min-height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr);
  grid-template-rows: repeat(9, 1fr);
}

.contact_column {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  grid-row: 1/9;
}

.wpcf7-form input::-webkit-input-placeholder {
  color: #1d2c77;
}

.wpcf7-form input::-moz-placeholder {
  color: #1d2c77;
}

.wpcf7-form textarea::-webkit-input-placeholder {
  color: #1d2c77;
}

.wpcf7-form textarea::-moz-placeholder {
  color: #1d2c77;
}

.wpcf7-form textarea {
  width: 100%;
}

.wpcf7-form input {
  width: 100%;
}

.wpcf7-form label {
  display: block;
}

.wpcf7-form input[type="submit"] {
  background-color: #f48914;
  background-image: url(../img/contact_form-09-min-150x52.png);
  background-position: center;
  color: #1d2c77;
  border: none;
  padding: 7px 20px;
  border-radius: 20px;
  text-transform: uppercase;
  display: block;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.pic_left_1,
.pic_right_1,
.pic_left_2,
.pic_right_2,
.pic_center {
  background-size: contain;
  background-repeat: no-repeat;
}

.pic_left_1 {
  background-image: url(../img/leaf_left.png);
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -webkit-transform: translateX(-10vw);
  -ms-transform: translateX(-10vw);
  transform: translateX(-10vw);
}

.pic_right_1 {
  background-image: url(../img/leaf_right.png);
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -webkit-transform: translateX(55%);
  -ms-transform: translateX(55%);
  transform: translateX(55%);
}

.pic_left_2 {
  background-image: url(../img/leaf_left2.png);
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
  -webkit-transform: translateX(-10vw);
  -ms-transform: translateX(-10vw);
  transform: translateX(-10vw);
}

.pic_right_2 {
  background-image: url(../img/contact_form-07-min.png);
  background-position: bottom right;
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13;
  -ms-grid-row: 4;
  -ms-grid-row-span: 6;
  grid-row: 4/10;
}

.pic_center {
  background-image: url(../img/contact_form-03-min.png);
  -webkit-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  z-index: 0;
}
