/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body,
html {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* background: transparent;  */
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "KyivType-Titling";
  src: url("../fonts/KyivTypeTitling-Bold2.otf") format("otf"),
    url("../fonts/KyivTypeTitling-Bold2.woff") format("woff");
}

@font-face {
  font-family: "KyivType-Serif";
  src: url("../fonts/KyivTypeSerif-Medium2.otf") format("otf"),
    url("../fonts/KyivTypeSerif-Medium2.woff") format("woff");
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #fff;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  background: url("../img/preload.svg") no-repeat 50% 50%;
  background-size: cover;
  z-index: 9999;
  transform-origin: 50% 50%;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.ticket_price {
  font-family: "KyivType-Serif", serif;
  color: #fedd43;
  font-size: 2.6rem;
  line-height: 2.6rem;
}

.ticket_body,
.ticket_heading,
.question_header,
.wpcf7-form textarea,
.wpcf7-form input {
  opacity: 1;
  font-family: "KyivType-Serif", serif;
  color: #1d2c77;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.grid_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}
/*slide-one-start*/
.opener {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.header_up {
  grid-column: 1/13;
  grid-row: 1/2;
  font-family: "KyivType-Titling", serif;
  color: #fedd43;
  text-transform: uppercase;
  font-size: 12rem;
  line-height: 12rem;
  margin: 0 20px;
}
.header_low {
  grid-column: 1/5;
  grid-row: 2/3;
  font-family: "KyivType-Titling", serif;
  color: #fedd43;
  text-transform: uppercase;
  font-size: 12rem;
  line-height: 12rem;
  margin: 0 20px;
}
.subheader {
  grid-column: 5/11;
  grid-row: 2/3;
  font-family: "KyivType-Titling", serif;
  color: #fedd43;
  text-transform: uppercase;
  font-size: 3.2rem;
  line-height: 4.5rem;
  margin: 0;
}
.water_melon_block {
  grid-column: 6/13;
  grid-row: 1/5;
  background-image: url(../img/watermellon-03-min.png);
  background-size: 114% auto;
  background-repeat: no-repeat;
  background-position: bottom left;
}
.knife_right_block {
  grid-column: 11/12;
  grid-row: 1/5;
  background-image: url(../img/knife-03.png);
  background-size: 75% auto;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.cap_left_block {
  grid-column: 1/6;
  grid-row: 2/8;
  background-image: url(../img/hat-05.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.glasses {
  grid-column: 8/12;
  grid-row: 5/7;
  background-image: url(../img/glass-06.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.bowl {
  grid-column: 3/8;
  grid-row: 5/10;
  background-image: url(../img/bowl-08.png);
  background-size: 86% auto;
  background-repeat: no-repeat;
  background-position: center right;
}
.button_wrapper {
  grid-column: 4/10;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  height: fit-content;
}
.button_programm,
.button_part,
.button_download {
  border: none;
  border-radius: 20px;
  padding: 10px 17px;
  color: #fedd43;
  font-family: "KyivType-Titling", serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  background-color: #1d2c77;
  min-width: 190px;
  margin: 50px 20px 0 20px;
  cursor: pointer;
}
.sky {
  grid-column: 1/13;
  grid-row: 1/4;
  background-color: #3e4777;
  background-image: url(../img/first_slide_back-06.jpg);
  /* background-image: url(../img/first_slidesvg_g.svg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.sand {
  grid-column: 1/13;
  grid-row: 4/10;
  /* background-color: #fedd43; */
  background-image: url(../img/sand_back.jpg);
  /* background-image: url(../img/sand_3_g.svg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: -1px;
}

.date_wrapper {
  grid-column: 5/13;
  grid-row: 5/6;
  text-align: end;
  font-family: "KyivType-Titling", serif;
  color: #1d2c77;
  font-size: 5rem;
  line-height: 5rem;
}
.date_wrapper h2 {
  margin: 0 20px !important;
}

@media only screen and (max-width: 1825px) {
  .subheader {
    font-size: 2.9rem;
    line-height: 3.8rem;
  }
  .date_wrapper {
    font-size: 4.4rem;
    line-height: 5rem;
  }
}

@media only screen and (max-width: 1660px) {
  .subheader {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .header_up,
  .header_low {
    font-size: 10rem;
    line-height: 10rem;
  }
  .date_wrapper {
    font-size: 3.9rem;
    line-height: 4rem;
  }
}

@media only screen and (max-width: 1400px) {
  .header_up,
  .header_low {
    font-size: 8rem;
    line-height: 8rem;
  }
  .subheader {
    font-size: 2.1rem;
    line-height: 2.8rem;
  }
  .date_wrapper {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}
@media only screen and (max-width: 1200px) {
  .header_up,
  .header_low {
    font-size: 7.4rem;
    line-height: 7.5rem;
  }
  .subheader {
    font-size: 2rem;
    line-height: 2.8rem;
  }
  .date_wrapper {
    font-size: 2.6rem;
    line-height: 3rem;
  }
}

@media only screen and (max-width: 1000px) {
  .header_up,
  .header_low {
    font-size: 6.5rem;
    line-height: 6.9rem;
  }
  .subheader {
    font-size: 1.5rem;
    line-height: 2.1rem;
    padding-top: 10px;
  }
  .date_wrapper {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }
  .button_wrapper {
    grid-column: 3/11;
  }
}

@media only screen and (max-width: 900px) {
  .header_up,
  .header_low {
    font-size: 6.7rem;
    line-height: 7rem;
  }
  .header_low {
    grid-column: 1/6;
  }

  .subheader {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  .subheader {
    grid-column: 6/12;
  }
  .date_wrapper {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }
  .knife_right_block {
    grid-column: 11/13;
    background-size: 52% auto;
  }
  .water_melon_block {
    grid-column: 6/13;
    background-size: 150% auto;
  }
  .cap_left_block {
    grid-column: 1/7;
    grid-row: 3/9;
  }
  .bowl {
    display: none;
  }
  .glasses {
    grid-column: 8/13;
  }
}
@media only screen and (max-width: 800px) {
  .header_up,
  .header_low {
    font-size: 5.8rem;
    line-height: 7rem;
  }
  .subheader {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .date_wrapper {
    font-size: 1.9rem;
    line-height: 2rem;
  }
  .button_programm,
  .button_part,
  .button_download {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .knife_right_block {
    background-size: 58% auto;
  }
  .water_melon_block {
    grid-column: 7/13;
    background-size: 205% auto;
  }
  .cap_left_block {
    grid-column: 1/8;
    grid-row: 3/9;
    background-size: auto 90%;
  }
}
@media only screen and (max-width: 670px) {
  .header_up,
  .header_low {
    font-size: 4.7rem;
    line-height: 6rem;
  }
  .subheader {
    font-size: 1rem;
    line-height: 1.2rem;
    padding-top: 16px;
    padding-right: 10px;
  }
  .subheader {
    grid-column: 6/13;
  }
  .date_wrapper {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .button_programm,
  .button_part,
  .button_download {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
  .cap_left_block {
    background-size: auto 100%;
  }
  .water_melon_block {
    grid-column: 6/13;
    background-size: 205% auto;
  }
  .knife_right_block {
    background-size: 52% auto;
  }
}

@media only screen and (max-width: 550px) {
  .header_up,
  .header_low {
    font-size: 4rem;
    line-height: 5rem;
  }
  .subheader {
    font-size: 0.9rem;
    line-height: 1.2rem;
    padding-right: 15px;
  }
  .subheader {
    grid-column: 6/13;
  }
  .date_wrapper {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .button_programm,
  .button_part,
  .button_download {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
  .sand {
    grid-row: 3/10;
  }
  .knife_right_block {
    background-size: 55% auto;
  }
  .glasses {
    grid-column: 6/13;
    grid-row: 6/8;
  }
}

@media only screen and (max-width: 474px) {
  .header_up,
  .header_low {
    font-size: 3rem;
    line-height: 4.5rem;
  }
  .header_low {
    grid-column: 1/10;
    line-height: 2rem;
  }
  .subheader {
    font-size: 0.9rem;
    line-height: 1.4rem;
    padding: 0;
    margin: 0 20px;
  }
  .subheader {
    grid-column: 1/12;
    grid-row: 3/4;
  }
  .date_wrapper {
    font-size: 1.5rem;
    line-height: 2rem;
    grid-column: 2/13;
    grid-row: 8/9;
  }
  .button_programm,
  .button_part,
  .button_download {
    font-size: 0.9rem;
    line-height: 1.1rem;
    margin: 15px 0;
    width: fit-content;
  }
  .button_wrapper {
    justify-content: center;
    align-items: center;
    grid-column: 1/13;
    grid-row: 4/6;
    flex-direction: column;
  }
  .knife_right_block {
    background-size: 63% auto;
  }
  .sand {
    grid-row: 4/10;
    background-size: auto 123%;
    background-position: bottom center;
  }
  .water_melon_block {
    grid-column: 5/13;
    background-size: 223% auto;
  }
  .cap_left_block {
    grid-column: 1/9;
    grid-row: 2/9;
    background-size: auto 90%;
  }
  .glasses {
    background-position: center;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 366px) {
  .header_up,
  .header_low {
    font-size: 3.9rem;
    line-height: 4.1rem;
  }
  .header_up {
    grid-row: 1/3;
  }
  .header_low {
    grid-row: 3/4;
    grid-column: 1/10;
  }
  .subheader {
    font-size: 0.9rem;
    line-height: 1.4rem;
    padding: 0;
    margin: 0 20px;
  }
  .subheader {
    grid-column: 1/13;
    grid-row: 4/5;
    text-align: end;
  }
  .date_wrapper {
    font-size: 1.5rem;
    line-height: 2rem;
    grid-column: 2/13;
    grid-row: 8/9;
  }
  .button_programm,
  .button_part,
  .button_download {
    font-size: 0.9rem;
    line-height: 1.1rem;
    margin: 15px 0;
  }
  .button_wrapper {
    grid-column: 1/13;
    grid-row: 5/7;
    flex-direction: column;
  }
  .sand {
    grid-row: 5/10;
  }
  .sky {
    grid-row: 1/5;
  }
  .knife_right_block {
    grid-row: 1/6;
    background-size: 83% auto;
  }
  .water_melon_block {
    grid-column: 4/13;
    grid-row: 1/6;
  }
  .cap_left_block {
    grid-column: 1/9;
    grid-row: 4/10;
    background-size: auto 90%;
    background-position: top right;
  }
  .glasses {
    display: none;
  }
  .button_wrapper {
    grid-row: 9/10;
    flex-direction: row;
  }
  .button_programm,
  .button_part,
  .button_download {
    min-width: 145px;
    font-size: 0.75rem;
    margin: 18px 5px 0 5px;
  }
}

/*slide-one-end*/
/*slide-two-start*/
.slider {
  /* background-color: #fedd43; */
  background-image: url(../img/sand_back-05.jpg);
  background-color: #f48914;
  /* background-image: url(../img/sand_g_1.svg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}



.location {
  overflow: hidden;
}
.question_message {
  display: none;
}


.slider {
  min-height: 80vh;
  overflow: hidden;
}
.slider_wrapper h2,
.program_header h2 {
  font-family: "KyivType-Titling", serif;
  color: #1d2c77;
  text-transform: uppercase;
  font-size: 5rem;
  line-height: 5.9rem;
  margin: 0 0 40px 0;
  text-align: center;
}

.multiple-items div.slide_block {
  min-height: 46vw;
  background-image: url(../img/carusel_page-03_g-min.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-family: "KyivType-Serif", serif;
  color: #f48914;
  font-size: 2.2rem;
  line-height: 3.3rem;
  font-weight: bold;
  text-align: center;
}
.slide_text {
  padding: 42% 80px;
}
@media only screen and (min-width: 2145px) {
  .slide_text {
    padding: 42% 170px 42% 150px;
  }
}

@media only screen and (max-width: 1825px) {
  .slider_wrapper h2,
  .program_header h2 {
    font-size: 4.5rem;
    line-height: 5.4rem;
  }
  .slide_text {
    padding: 42% 96px 42% 85px;
  }
}

@media only screen and (max-width: 1660px) {
  .slider_wrapper h2,
  .program_header h2 {
    font-size: 3.2rem;
    line-height: 3.9rem;
  }
  .multiple-items div.slide_block {
    font-size: 1.9rem;
    line-height: 3rem;
  }
}

@media only screen and (max-width: 1400px) {
  .slider_wrapper h2,
  .program_header h2 {
    font-size: 3.2rem;
    line-height: 3.9rem;
  }
  .slide_text {
    padding: 35% 76px 42% 66px;
  }
  .multiple-items div.slide_block {
    font-size: 1.7rem;
    line-height: 3rem;
  }
}
@media only screen and (max-width: 1200px) {
  .multiple-items div.slide_block {
    font-size: 1.3rem;
    line-height: 2.2rem;
  }
}
@media only screen and (max-width: 999px) {
  .slide_text {
    padding: 39% 90px 42% 75px;
  }
  .multiple-items div.slide_block {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}
@media only screen and (max-width: 900px) {
  .slider_wrapper h2,
  .program_header h2 {
    font-size: 2.6rem;
    line-height: 3.5rem;
  }
  .slide_text {
    padding: 39% 70px 42% 62px;
  }
  .multiple-items div.slide_block {
    font-size: 1.6rem;
    line-height: 2.7rem;
  }
}

@media only screen and (max-width: 767px) {
  .slider_wrapper h2,
  .program_header h2 {
    font-size: 2.6rem;
    line-height: 3.5rem;
  }
  .slide_text {
    padding: 39% 105px 42% 90px;
  }
  .multiple-items div.slide_block {
    font-size: 2.5rem;
    line-height: 3.8rem;
  }
}
@media only screen and (max-width: 620px) {
  .slider_wrapper h2,
  .program_header h2 {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }
  .multiple-items div.slide_block {
    font-size: 2.3rem;
    line-height: 3.8rem;
}
}
@media only screen and (max-width: 550px) {
  .slider_wrapper h2,
  .program_header h2 {
    font-size: 1.9rem;
    line-height: 2.6rem;
  }
  .multiple-items div.slide_block {
    font-size: 1.7rem;
    line-height: 2.9rem;
}
.slide_text {
  padding: 39% 85px 42% 74px;
}
}

@media only screen and (max-width: 420px) {
  .slider_wrapper h2,
  .program_header h2 {
  padding-top: 20px;
  }
  .multiple-items div.slide_block {
    font-size: 1.4rem;
    line-height: 2.3rem;
}
.slide_text {
  padding: 35% 55px 42% 48px;
}
}
/*slide-two-end*/
/*slide-three-start*/
.program{
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(19, 1fr);
}
.photoshoot{
  grid-column: 3/11;
  grid-row: 1/20;
  background-image: url(../img/studio-06-min.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

.photo-back{
  grid-column: 1/13;
  grid-row: 1/20;
  background-image: url(../img/photo_back-10-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.studio_light{
  grid-column: 11/13;
  grid-row: 1/20;
  background-image: url(../img/studio_light.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.studio_camera{
  grid-column: 1/3;
  grid-row: 1/20;
  background-image: url(../img/studio_camera.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.program h2{
  font-family: "KyivType-Titling", serif;
  color: #fedd43;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-align: center;
  margin: 25px 40px 0 40px;
}
.photoshoot_header_wrapper{
  grid-column: 4/10;
  grid-row: 1/3;
}
.activity_list_one{
  grid-row: 3/4;
}
.activity_list_two{
  grid-row: 4/5;
}
.activity_list_tree{
  grid-row: 5/6;
}
.activity_list_four{
  grid-row: 6/7;
}
.activity_list_five{
  grid-row: 7/8;
}
.activity_list_six{
  grid-row: 8/9;
}
.activity_list_seven{
  grid-row: 9/10;
}
.activity_list_one,
.activity_list_two,
.activity_list_tree,
.activity_list_four,
.activity_list_five,
.activity_list_six,
.activity_list_seven{
  font-family: "KyivType-Titling", serif;
  color: #fedd43;
  font-size: 1.5rem;
  line-height: 2rem;
  grid-column: 4/10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.activity_list_one>p,
.activity_list_two>p,
.activity_list_tree>p,
.activity_list_four>p,
.activity_list_five>p,
.activity_list_six>p,
.activity_list_seven>p{
margin: 10px 0;
}

/*slide-three-end*/
.speakers {
  min-height: 80vh;
  overflow: hidden;
}
.speakers-items { 

}
.speaker_block { 
  /* min-height: 46vw; */
}
.speaker_block img {
  width: 30vw;
  height: auto;
}

.table {
  background-color: #1d2c77;
  min-height: 80vh;
  background-image: url(../img/table_back-02-min.png);
  /* background-image: url(../img/table_g.svg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.table_pic_garland {
  grid-column: 1/13;
  grid-row: 1/3;
}
.table_header {
  grid-column: 2/11;
  grid-row: 2/3;
}
.table_header h2 {
  font-family: "KyivType-Serif", serif;
  color: #fedd43;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3rem;
}
/* .table_subheader {
  grid-column: 4/12;
  grid-row: 4/5;
} */
.table_subheader p {
  font-family: "KyivType-Serif", serif;
  color: #fedd43;
  text-align-last: left;
  font-size: 1.5rem;
}
.table_pic_center {
  background-image: url(../img/table.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  grid-column: 4/13;
  grid-row: 3/4;
}

@media only screen and (max-width: 768px) {
  .table {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .table_pic_garland {
    grid-column: 1/13;
    grid-row: 1/2;
  }
  .table_header {
    grid-column: 2/11;
    grid-row: 2/4;
  }
  .table_header h2 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .table_subheader p {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  .table_pic_center {
    grid-column: 4/13;
    grid-row: 4/5;
  }
}

@media only screen and (max-width: 576px) {
  .table_header h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .table_subheader p {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}

@media only screen and (max-width: 320px) {
  .table_header h2 {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
  .table_subheader p {
    font-size: 1rem;
    line-height: 1rem;
  }
}

.tvset {
  background-color: #f48914;
  background-image: url(../img/yellow_back.jpg);
  /* background-image: url(../img/yellow_g.svg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
}
.tvset_pic_tv {
  grid-row: 2/3;
  grid-column: 2/3;
}
.tvset_pic_lamp {
  background-image: url(../img/lamp2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  position: absolute;
  right: 0;
  width: 18vw;
  height: 10vw;
  transform: translateY(-20%);
}

.result {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* background-color: #1d2c77; */
  background-image: url(../img/result_back.jpg);
  /* background-image: url(../img/result_g.svg); */
  background-size: cover;
  background-repeat: no-repeat;
}
.result_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  grid-row: 2/3;
  grid-column: 5/13;
}
.result_list li {
  background: url("../img/cherry.png") no-repeat left top;
  background-size: contain;
  height: 34px;
  padding-top: 7px;
  padding-left: 44px;
  font-family: "KyivType-Serif", serif;
  color: #fedd43;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.result_header {
  text-align: center;
  font-family: "KyivType-Serif", serif;
  color: #fedd43;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
  grid-row: 1/2;
  grid-column: 5/13;
}

.result_subheader {
  text-align: center;
  font-family: "KyivType-Serif", serif;
  color: #fedd43;
  font-size: 1.7rem;
  line-height: 1.7rem;
  font-weight: bold;
  grid-row: 3/4;
  grid-column: 3/10;
}

.result_pic_left {
  background-image: url(../img/cherry_bowl.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  grid-row: 1/3;
  grid-column: 1/5;
  z-index: 5;
  transform: translateY(-10%, -10%);
}

@media only screen and (max-width: 768px) {
  .result_header {
    font-size: 2.6rem;
    line-height: 2.6rem;
  }
  .result_subheader {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
  .result_list li {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}

@media only screen and (max-width: 576px) {
  .result_header {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
  .result_subheader {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .result_list li {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}

@media only screen and (max-width: 320px) {
  .result_header {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }

  .result_subheader {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .result_list li {
    font-size: 1.1rem;
    line-height: 1.1rem;
  }
}

.offer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr);
  min-height: 80vh;
  background-color: #f48914;
  /* background-image: url(../img/sand_g_1.svg); */
  background-image: url(../img/sand_back-05.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.offer_pic_background {
  /* background-color: #28bbb9; */
  background-image: url(../img/contact_form-08.png);
  /* background-image: url(../img/iceback_g.svg); */
  background-size: 100% auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/3;
  z-index: 2;
}

.offer_pic_bottom {
  background-color: aqua;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  z-index: 7;
}

.ticket_card {
  background-color: transparent;
  border: none;
  padding: 20px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 4/6;
}
.offer_pic_background {
  background-image: url(../img/format_roof-11.png);
  grid-row: 1/2;
  grid-column: 1/4;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
}
.ice_background {
  background-image: url(../img/contact_form-08.png);
  grid-row: 1/4;
  grid-column: 1/4;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.img_first {
  grid-column: 1/2;
  z-index: 3;
  grid-row: 2/4;
  margin-top: auto;
}
.card_first {
  grid-column: 1/2;
}
.ice_back_first {
  background-image: url(../img/ice_weel-04-min.png);
  grid-row: 4/8;
  grid-column: 1/2;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
}
.img_second {
  grid-column: 2/3;
  z-index: 3;
  grid-row: 2/4;
  margin-top: auto;
}
.card_second {
  grid-column: 2/3;
}
.ice_back_second {
  background-image: url(../img/ice_weel-04-min.png);
  grid-row: 4/8;
  grid-column: 2/3;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
}
.img_third {
  grid-column: 3/4;
  z-index: 3;
  grid-row: 2/4;
  margin-top: auto;
}
.card_third {
  grid-column: 3/4;
}
.ice_back_third {
  background-image: url(../img/ice_weel-04-min.png);
  grid-row: 4/8;
  grid-column: 3/4;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
}
.ticket_body {
  background-color: #fff;
  position: relative;
  min-height: 50vh;
  padding: 10px;
}

@media only screen and (max-width: 950px) {
  .img_first,
  .img_second,
  .img_third {
    grid-row: 2/3;
  }
  .ice_background{
    grid-row: 1/11;
  }
  .ice_back_first,
  .ice_back_second,
  .ice_back_third {
    grid-row: 3/6;
    background-size: cover;
}
.ticket_card {
  grid-row: 3/5;
  padding: 20px;
}
}

@media only screen and (max-width: 750px) {
  .img_first,
  .img_second,
  .img_third {
    grid-column: 3/7;
  }
  .img_first {
    grid-row: 2/3;
  }
  .ice_back_first,
  .card_first {
    grid-row: 3/5;
  }
  .img_second {
    grid-row: 5/6;
  }
  .ice_back_second,
  .card_second {
    grid-row: 6/8;
  }
  .img_third {
    grid-row: 8/9;
  }
  .ice_back_third,
  .card_third {
    grid-row: 9/11;
  }
  .ice_back_first,
  .ice_back_second,
  .ice_back_third {
    background-image: url(../img/ice_no_weel.jpg);
    grid-column: 1/9;
  }
  .ice_background {
    grid-column: 1/9;
  }
  .card_first,
  .card_second,
  .card_third {
    grid-column: 2/8;
  }
  .offer_pic_background {
    grid-column: 1/9;
  }
  .offer {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
}

.ticket_body i.circle_lt,
.ticket_body i.circle_rt,
.ticket_body i.circle_lb,
.ticket_body i.circle_rb {
  position: absolute;
  font-size: 10px;
  color: #0d195f;
}

.ticket_body i.circle_lt {
  top: 10px;
  left: 10px;
}

.ticket_body i.circle_rt {
  top: 10px;
  right: 10px;
}

.ticket_body i.circle_lb {
  bottom: 10px;
  left: 10px;
}

.ticket_body i.circle_rb {
  right: 10px;
  bottom: 10px;
}

.ticket_heading {
  text-align: center;
}

.ticket_price {
  text-align: center;
}

.ticket_list ul {
  list-style-type: "-";
}

.ticket_list ul li {
  padding: 5px;
}

img.half-width {
  width: 100%;
  height: auto;
}

.accordion-panel {
  display: none;
}

.question {
  background-image: url(../img/sand_back-05.jpg);
  /* background-image: url(../img/sand_g_1.svg); */
  background-color: #f48914;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-height: 80vh;
  height: auto;
}

/* .question > div {
  border: solid 1px #000;
} */

.question_pic_left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 2/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/7;
}
.question_pic_sunshade {
  background-image: url(../img/contact_form-13-min.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-row: 1/3;
  grid-column: 1/13;
  transform: translateY(-50%);
  z-index: 8;
  min-height: 45vh;
}
.question_message {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 2/4;
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-column: 7/12;
  font-family: "KyivType-Titling", serif;
  color: #1d2c77;
  font-size: 1.5rem;
  font-weight: bold;
}

.question_wrapper {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 4/6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/11;
}

.question_header {
  background-color: #0d195f;
  background-image: url(../img/button1-min.png);
  background-position: center;
  border: none;
  border-radius: 18px;
  padding: 0 20px;
  color: #fedd43;
  line-height: 2.5rem;
}
.question_header {
}
#accordion .ui-accordion-header {
  position: relative;
}
#accordion .ui-accordion-header-icon {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/plus.svg) 50% 50% no-repeat;
  background-size: contain;
}
#accordion .ui-accordion-header-active .ui-accordion-header-icon {
  background-image: url(../img/minus.svg);
}

.location {
  background-color: #1d2c77;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 5fr 3fr;
}
.map_wrapper {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
}
.location_heading {
  grid-column: 2/3;
  grid-row: 1/2;
  color: #fedd43;
  font-family: "KyivType-Serif", serif;
  color: #fedd43;
  font-size: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
}

.location_heading h2 {
  font-size: 1.7rem;
  line-height: 1.7rem;
}

.location_heading p {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.contact {
  /* background-color: #1d2c77; */
  background-image: url(../img/contact_form-02-min.png);
  /* background-image: url(../img/contact_g.svg); */
  background-size: cover;
  min-height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr);
  grid-template-rows: repeat(9, 1fr);
  z-index: 3;
}

.contact_column {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  grid-row: 1/9;
}

.wpcf7-form input::-webkit-input-placeholder {
  color: #1d2c77;
}

.wpcf7-form input::-moz-placeholder {
  color: #1d2c77;
}

.wpcf7-form textarea::-webkit-input-placeholder {
  color: #1d2c77;
}

.wpcf7-form textarea::-moz-placeholder {
  color: #1d2c77;
}

.wpcf7-form textarea {
  width: 100%;
}

.wpcf7-form input {
  width: 100%;
}

.wpcf7-form label {
  display: block;
}

.wpcf7-form input[type="submit"] {
  background-color: #f48914;
  /* background-image: url(../img/contact_form-09-min-150x52.png); */
  /* transform: translate3d(0,0,0);   */
  background-position: center;
  color: #1d2c77;
  border: none;
  padding: 7px 20px;
  border-radius: 20px;
  text-transform: uppercase;
  display: block;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.pic_left_1,
.pic_right_1,
.pic_left_2,
.pic_right_2,
.pic_center {
  background-size: contain;
  background-repeat: no-repeat;
}

.pic_left_1 {
  background-image: url(../img/leaf_left.png);
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -webkit-transform: translateX(-10vw);
  -ms-transform: translateX(-10vw);
  transform: translateX(-10vw);
}

.pic_right_1 {
  background-image: url(../img/leaf_right.png);
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -webkit-transform: translateX(68%);
  -ms-transform: translateX(68%);
  transform: translateX(68%);
}

.pic_left_2 {
  background-image: url(../img/leaf_left2.png);
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
  -webkit-transform: translateX(-10vw);
  -ms-transform: translateX(-10vw);
  transform: translateX(-10vw);
}

.pic_right_2 {
  background-image: url(../img/contact_form-07-min.png);
  background-position: bottom right;
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13;
  -ms-grid-row: 4;
  -ms-grid-row-span: 6;
  grid-row: 4/10;
}
.sun_wrapper {
  position: relative;
  width: 100%;
}
.pic_center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-image: url(../img/contact_form-03-min.png);
  width: 30vw;
  height: 30vw;
}



@media only screen and (max-width: 992px) {
  .wpcf7-form textarea,
  .wpcf7-form input {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .contact_column {
    grid-column: 4/10;
  }
  .wpcf7-form textarea,
  .wpcf7-form input {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}
@media only screen and (max-width: 576px) {
  .wpcf7-form textarea,
  .wpcf7-form input {
    font-size: 1rem;
    line-height: 1rem;
  }
  .contact_column {
    grid-column: 3/11;
  }
}
@media only screen and (max-width: 320px) {
  .wpcf7-form textarea,
  .wpcf7-form input {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }
  .contact_column {
    grid-column: 3/11;
  }
}
